.bar{
  fill: LightGrey;
  stroke: black;
}

.bar:hover{
  fill: pink;
}

.axis--y path{
  display: none;
}

.label{
  fill: Black;
  font-size: 16px;
}

.tooltip{
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background: Beige;
}